@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    List<Produit> panier = ViewData["Panier"] as List<Produit> ?? new List<Produit>();
    List<Produit> panierVerification = new List<Produit>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetFinal_Ecommerce</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Lien Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetFinal_Ecommerce.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Le panier offcavenas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <!-- data-bs-scroll="true" pour pouvoir scroll -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vôtre panier:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Le body du panier qui est offcavenas -->
            <div class="container-fluid">
                Les produits achetés ici
            </div>
            <div class="container-fluid">
                <ul>
                    @foreach (var item in panier)
                    {
                        // Vérification pour éviter les doublons dans l'affichage du panier
                        if (!panierVerification.Any(p => p.Id == item.Id))
                        {
                            // Ajouter l'item au panier de vérification pour éviter les doublons
                            panierVerification.Add(item);

                            <li class="d-flex justify-content-between align-items-center">
                                <span>@item.Nom</span>
                                <span>@item.PrixUnitaire $</span>
                                <span class="d-flex align-items-center">
                                    <a asp-action="DiminuerItemPanier" asp-route-produitId="@item.Id" class="btn btn-secondary">↓</a>
                                    @panier.Count(p => p.Id == item.Id)
                                    <a asp-action="AjoutPanier" asp-route-produitId="@item.Id" class="btn btn-secondary">↑</a>
                                    <a asp-action="SupprimerItemPanier" asp-route-produitId="@item.Id" class="btn btn-danger">Supprimer</a>
                                </span>
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="container-sm">
            <h3 id="totalPanier">Total: <span>@panier.Sum(p => p.PrixUnitaire)</span>$</h3>
        </div>
        <!-- Bouton pour supprimer l'inventaire complet (reset le panier) -->
        <div class="container-sm d-flex align-items-center justify-content-between">

            @if (SignInManager.IsSignedIn(User) && panier.Count !=0)
            {
                <button id="btnCheckOut" class="btn btn-primary">Check Out</button>
            }
            else
            {
                <button id="btnCheckOut" class="btn btn-primary" disabled>Check Out</button>
            }

            <button id="btnTrashAll" class="btn btn-primary">
                Reset le panier <span><i class="fa-solid fa-trash-arrow-up"></i></span>
            </button>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Produits" asp-action="Index">ProjetFinal_Ecommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Produits" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    @await Html.PartialAsync("_LoginPartial.cshtml")
                </div>
                <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Panier <i id="icon-cart" class="fa-solid fa-cart-shopping"><span>@panier.Count</span></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ProjetFinal_Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
