@model IEnumerable<ProjetFinal_Ecommerce.Models.Facture>

@{
    ViewData["Title"] = "VoirFactures";
}

<h1>VoirFactures</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserConnected)
            </th>
            <th>Numero facture</th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUserConnected.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NumeroFacture)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Montant)
            </td>
        </tr>
}
    </tbody>
</table>
