@model IEnumerable<ProjetFinal_Ecommerce.Models.Produit>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "VoirPanier";
    List<Produit> panierVerification = new List<Produit>();
    IdentityUser identityUser =  await UserManager.GetUserAsync(User);
}

<h1>VoirPanier</h1>
<p> @identityUser.UserName</p>
<a asp-action="VoirFacture">VoirFacture</a>

<p>
    <a asp-action="Index">Retour à la liste</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th class="text-center">
                Nombre d'unité(s)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    if (!panierVerification.Any(p => p.Id == item.Id))
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categorie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrixUnitaire)
                    </td>
                    <td class="text-center">
                        <a asp-action="DiminuerItemPanier" asp-route-produitId="@item.Id" class="btn btn-secondary">↓</a>
                        @Model.Count(p => p.Id == item.Id)
                        <a asp-action="AjoutPanier" asp-route-produitId="@item.Id" class="btn btn-secondary">↑</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="SupprimerItemPanier" asp-route-produitId="@item.Id">Delete</a>
                    </td>
                </tr>
    }
        <!-- Ajouter l'item au panier de vérification -->
        panierVerification.Add(item);
}
    </tbody>
</table>
<div class="container">
    <h3>
        Total facture: @Model.Sum(p => p.PrixUnitaire) $
    </h3>
</div>
