@model IEnumerable<ProjetFinal_Ecommerce.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index, liste des produits</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Recherche par nom:</h2>

<form asp-controller="Produits" asp-action="SearchNom" method="get">
    <input type="text" name="rechercheNom" value="" />
    <button class="btn btn-primary" type="submit">Soumettre</button>
</form>

<h2>Recherche par:</h2>
<div class="row justify-content-end">
    <div class="col-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nos marques
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="FiltreMarque" asp-route-rechercheMarque="Nintendo">Nintendo</a></li>
                <li><a class="dropdown-item" asp-action="FiltreMarque" asp-route-rechercheMarque="Nike">Nike</a></li>
                <li><a class="dropdown-item" asp-action="FiltreMarque" asp-route-rechercheMarque="Adidas">Adidas</a></li>
                <li><a class="dropdown-item" asp-action="FiltreMarque" asp-route-rechercheMarque="Samsung">Samsung</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nos catégories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="FiltreCategorie" asp-route-rechercheCategorie="Jeux Vidéo">Jeux vidéo</a></li>
                <li><a class="dropdown-item" asp-action="FiltreCategorie" asp-route-rechercheCategorie="Cuisine">Cuisine</a></li>
                <li><a class="dropdown-item" asp-action="FiltreCategorie" asp-route-rechercheCategorie="Électronique">Électronique</a></li>
                <li><a class="dropdown-item" asp-action="FiltreCategorie" asp-route-rechercheCategorie="Informatique">Informatique</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nos Prix
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="FiltrePrix" asp-route-id="Élevé">Élevé</a></li>
                <li><a class="dropdown-item" asp-action="FiltrePrix" asp-route-id="Moyen">Moyen</a></li>
                <li><a class="dropdown-item" asp-action="FiltrePrix" asp-route-id="Bas">Bas</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
